.about

    .about-grid-first
        - var i = 0
         while i < 9

            .about-grid-first-item
                p= i++


    .about-grid-second
        .about-grid-second-header
            p header
        .about-grid-second-left
            p left
        .about-grid-second-main
            p main
        .about-grid-second-right
            p right
        .about-grid-second-footer
            p footer



    .about-grid-third
        .about-grid-third-item 1
        .about-grid-third-item 2
        .about-grid-third-item 1
        .about-grid-third-item 2