.grid

    .grid-first
        - var i = 0
         while i < 9

            .grid-first-item
                p= i++


    .grid-second
        .grid-second-header
            p header
        .grid-second-left
            p left
        .grid-second-main
            p main
        .grid-second-right
            p right
        .grid-second-footer
            p footer



    .grid-third
        .grid-third-item 1
        .grid-third-item 2
        .grid-third-item 1
        .grid-third-item 2