.about
    .inner
        //background-color pink
        height auto


.about-name
.about-title
    text-transform uppercase

    &::first-letter
        //color teal


.about-name
    font-size 50px
    letter-spacing 2px
    text-align center
    font-weight 300


.about-title
    margin 30px 0 10px
    font-size 25px
    font-weight 400
    letter-spacing 3px


.about-item
    font-size 20px
    font-style italic


.about-courses
    span
        font-size 14px
