.grid
    size(100%,auto)
    background-color $alizarin

    // first
.grid-first
    display grid
    grid-template 150px auto 150px / 200px 1fr 200px


.grid-first-item
    margin 10px
    background-color $white

    // second
.grid-second
    display grid
    grid-template-rows 200px 1fr 200px
    grid-template-columns 300px 1fr 300px
    grid-template-areas "header header header"\
                        "left main right"\
                        "footer footer footer"



.grid-second-header
.grid-second-left
.grid-second-right
.grid-second-main
.grid-second-footer
    margin 10px
    background-color $white

    p
        display inline-block


.grid-second-header
    grid-area header


.grid-second-left
    grid-area left


.grid-second-main
    grid-area main
    height 400px


.grid-second-right
    grid-area right


.grid-second-footer
    grid-area footer

    // third
.grid-third
    display grid
    grid-template-columns 1fr 1fr
    grid-column-gap 20px
    grid-row-gap 20px


.grid-third-item
    size(100%, 50px)
    background-color $white
