.header-text-wrap
    margin auto


.header-title
    font-size 92px
    line-height 120px
    color $desert-storm
    text-shadow 0 8px 9px $sour-dough, 0px -2px 1px $white
    font-weight bold
    letter-spacing 20px
    text-align center


.header-circle
    position(absolute,100px,200px,,)
    size(100px)
    background-color $alizarin
    border-radius 100%
    box-shadow 0 8px 9px $sour-dough, 0px -2px 1px $white