.wrapper
    display flex
    flex-direction column
    justify-content center


header
.about
footer
    size(100vw, 100vh)
    display flex
    flex-direction column


header
    .inner
        height auto


.inner
    display flex
    margin auto
    size(80vw, 80vh)
