	// extra
@import 'fonts.styl'
@import 'vars.styl'
@import 'libs.styl'
@import 'mixins.styl'
	// common
@import 'common_styles.styl'
	// modules
@import 'modules/header.styl'
@import 'modules/about.styl'

@import 'modules/footer.styl'
	// component
@import 'modules/menu.styl'
	// pages
@import 'pages/index.styl'
	// media
@import 'media.styl'
	// test
@import 'modules/grid.styl'

html
	line-height 1
	font-size 16px


body
	overflow-x hidden
	transition background 1s ease
	background-color $soapstone


h1,h2,h3,h4,h5,h6
	margin 0
	font-family 'Oswald', sans-serif


ul,li
	margin 0
	padding 0
	list-style-type none


p
	margin 0
	font-family: 'Old Standard TT', serif;

a
	text-decoration none
	color black


audio,
canvas,
iframe,
img,
svg,
video
	vertical-align middle


textarea
	resize none


section
	position relative


input,
select,
button
	outline none


*, *:before, *:after
	box-sizing border-box



