 // color palette
$alizarin               = #e62739
$white                  = #ffffff
$soapstone              = #ece4d9
$quarter-spanish-white  = #e9dfd1
$desert-storm           = #f1ebe5
$sour-dough             = #c4b59d


